<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qkwl.service.coin.mapper.USDTCollectMapper" >
  <sql id="Base_Column_List" >
    id, isrechargebtc, address, status, createtime,rechargebtc,updatetime
  </sql>
  <select id="selectByPrimaryKey" resultType="USDTCollect" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from coin_usdt_collect
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <select id="selectUnCollectList" resultType="USDTCollect" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from coin_usdt_collect
    where status = 0   and createtime <![CDATA[ <  ]]>  date_sub(now(),interval 15 MINUTE)
    limit  #{start,jdbcType=INTEGER} ,  #{count,jdbcType=INTEGER} 
  </select>
  
  
  
  
  <insert id="insert" parameterType="USDTCollect" >
    insert into coin_usdt_collect (  address, createtime,updatetime)
    values (  #{address,jdbcType=VARCHAR},  #{createtime,jdbcType=TIMESTAMP},#{updatetime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="USDTCollect" >
    update coin_usdt_collect
    <set >
      <if test="isrechargebtc != null" >
        isrechargebtc = #{isrechargebtc,jdbcType=BIT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rechargebtc != null" >
        rechargebtc = #{rechargebtc,jdbcType=DECIMAL}, 
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="USDTCollect" >
    update coin_usdt_collect
    set isrechargebtc = #{isrechargebtc,jdbcType=BIT},
      address = #{address,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      rechargebtc = #{rechargebtc,jdbcType=DECIMAL}, 
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>